.card-img{
    width: 425px;
    height: 700px;
}

.card-textMangas{
    font-size: 1.2em;
}

@media (max-width: 425px) {
    .card-img{
        width: 350px;
        height: 650px;
    }

    .ulCard{
        margin: 0;
        padding: 0;
    }
}